<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: fit-content;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #2dc98a;
    }

    h1 {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #2dc98a;
        font-weight: bolder;
        border-bottom: 1px solid #2dc98a;
    }
</style>

<body>
<h1>Mail Forgot Password</h1>
<p style="color:red; text-align: center" th:text="'This is your new Password: ' + ${password}" />
</body>

</html>